*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
table{
	border-collapse: collapse;
}
table tr td{
	height: 80px;
	width: 80px;
}
table tr td input{
	height: 100%;
	width: 100%;
	font-size: 25px;
}